<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true" use-expressions="true">

		<intercept-url pattern="/vendor/**"
			access="hasAnyRole('ROLE_ADMIN','ROLE_VENDOR')" />
		<intercept-url pattern="/admin/**" access="hasAnyRole('ROLE_ADMIN')" />
		<form-login login-page="/clogin" default-target-url="/list"
			authentication-failure-url="/clogin?error=true"
			authentication-success-handler-ref="myAuthenticationSuccessHandler" />


	</http>





	<beans:bean id="myAuthenticationSuccessHandler"
		class="aladdin.security.MySimpleUrlAuthenticationSuccessHandler" />

	<beans:bean id="customLogoutSuccessHandler" class="aladdin.security.CustomLogoutSuccessHandler" />

	<authentication-manager alias="authenticationManager">
		<authentication-provider>
			<password-encoder ref="encoder" />
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select emailAddress, password, isActive from person where isactive=1 and emailAddress=?"
				authorities-by-username-query="select us.emailAddress, ur.authority from person us, user_roles ur   
        where us.id = ur.person_id and us.emailAddress =?" />

		</authentication-provider>
	</authentication-manager>


	<beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<debug />
</beans:beans>